GNUmakefile
Makefile
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CTestTestfile.cmake
install_manifest.txt
Testing
.gdb_history
*~
*.user
*.sdf
*.suo
*.obj
*.log
*.tlog
*.ib_pdb_index
*.idb
*.pdb
*.filters
*.ilk
